body{
    background-color: dimgray;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container{
    flex-wrap: wrap;/*Para layout responsivo, quebra a linha dos itens*/
    display: flex;/*Muito util para deixar botões mais flexiveis*/
    justify-content: center;
    gap: 10px;/*Da espaçamento entre os itens do container*/
    margin-top: 20px;
}

#cx1,#cx2,#cx3{
    background-color:aliceblue;
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}