body{
    background-color: darkgoldenrod;
}

h1{
    font-family:monospace;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}

#btn{
    font-family: monospace;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin:0 auto;display: block;
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
}

#txt,#bis{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}